### 2881. ***Create a New Column***

Solution 1

In [1]:
import pandas as pd

def createBonusColumn(employees: pd.DataFrame) -> pd.DataFrame:
    employees['bonus'] = employees['salary'] * 2
    return employees

***Time and Space Complexity***

Time Complexity: O(n), where n is the number of rows in the DataFrame.

Space Complexity: O(1). The operation is performed in place.

Solution

In [ ]:
import pandas as pd

def createBonusColumn(employees: pd.DataFrame) -> pd.DataFrame:
    return employees.assign(bonus=2*employees["salary"])

# Time complexity  :  O(n)
# Space complexity : O(1)

Exmaple usage

In [2]:
import pandas as pd

def createBonusColumn(employees: pd.DataFrame) -> pd.DataFrame:
    employees['bonus'] = employees['salary'] * 2
    return employees

# Example Usage:
data = {'name': ['Piper', 'Grace', 'Georgia', 'Willow', 'Finn', 'Thomas'],
        'salary': [4548, 28150, 1103, 6593, 74576, 24433]}

employees_df = pd.DataFrame(data)

result = createBonusColumn(employees_df)
print(result)

      name  salary   bonus
0    Piper    4548    9096
1    Grace   28150   56300
2  Georgia    1103    2206
3   Willow    6593   13186
4     Finn   74576  149152
5   Thomas   24433   48866