### 2879. Display the First Three Rows

***Solution***

In [1]:
import pandas as pd

def selectFirstRows(employees: pd.DataFrame) -> pd.DataFrame:
    return employees.head(3)
# Time complexity: O(1)
# Space complexity: O(1)

##### ***Time and Space Complexity:***

Time Complexity: O(1)

employees.head(3) accesses the first three rows directly. This operation typically takes constant time, regardless of the DataFrame's total size. It doesn't need to iterate through the entire DataFrame.

Space Complexity: O(1)

The function returns a new DataFrame with a fixed number of rows (3). The space used does not scale with the size of the input DataFrame.

Therefore, the space complexity is constant.

In [3]:
import pandas as pd

def selectFirstRows(employees: pd.DataFrame) -> pd.DataFrame:
    """
    Selects the first 3 rows of the DataFrame.

    Args:
        employees (pd.DataFrame): The input DataFrame.

    Returns:
        pd.DataFrame: A DataFrame containing the first 3 rows.
    """
    return employees.head(3)

# Example Usage:
data = {'employee_id': [3, 90, 9, 60, 49, 43],
        'name': ['Bob', 'Alice', 'Tatiana', 'Annabelle', 'Jonathan', 'Khaled'],
        'department': ['Operations', 'Sales', 'Engineering', 'InformationTechnology', 'HumanResources', 'Administration'],
        'salary': [48675, 11096, 33805, 37678, 23793, 40454]}
employees_df = pd.DataFrame(data)

first_three_rows = selectFirstRows(employees_df)
print(first_three_rows)

   employee_id     name   department  salary
0            3      Bob   Operations   48675
1           90    Alice        Sales   11096
2            9  Tatiana  Engineering   33805