### 2884.Mosify Columns

In [ ]:
import pandas as pd


def modifySalaryColumn(employees: pd.DataFrame) -> pd.DataFrame:
    # Double the salary column
    employees['salary'] = employees['salary'] * 2
    return employees

The time and space complexity of the `modifySalaryColumn` function can be analyzed as follows:

#### Time Complexity

- The operation `employees['salary'] * 2` involves iterating through each element in the `salary` column.
- If there are \( n \) employees (rows), the time complexity is \( O(n) \).

#### Space Complexity

- The function modifies the `salary` column in place, meaning it does not create an additional DataFrame or list to store the results.
- Therefore, the space complexity is \( O(1) \) since no additional space is required that scales with the size of the input.

#### Summary

- **Time Complexity:** \( O(n) \)
- **Space Complexity:** \( O(1) \)

Example Usage:

In [3]:
# Example DataFrame
data = {
    'name': ['Jack', 'Piper', 'Mia', 'Ulysses'],
    'salary': [19660, 74754, 145968, 125108]
}
employees = pd.DataFrame(data)

# Modify salaries
updated_employees = modifySalaryColumn(employees)
print(updated_employees)

      name  salary
0     Jack   39320
1    Piper  149508
2      Mia  291936
3  Ulysses  250216